:root {
    --color1: #212435;
    --color2: #313550;
    --color3: #F4C481;
    --color4: #ffffff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background: var(--color1);
    font-family: 'Montserrat', sans-serif;
    color: var(--color4);
}

header {
    background: var(--color1);
    font-weight: bold;
    color: var(--secondary-color);
    font-family: 'Anton', sans-serif;
    padding: 15px 0;
    box-shadow: 0px 1px 2px -1px blanchedalmond;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    z-index: 1000;
}

.container {
    margin: 0 10px;

}

.nav-ul,
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: 20px;
    font-weight: bold;
}

.nav-list {
    margin: 0 10px;
    padding: 8px 20px;
    border-radius: 5px;
    background: var(--color2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 0.5px;
    border-color: var(--color2);
    cursor: pointer;

}

.nav-list:hover {
    border-style: solid;
    border-width: 0.5px;
    border-color: var(--color3);
}



.section-one,
.section-two,
.section-four,
.section-six {
    display: flex;
    flex-direction: column;
    background: var(--color2);
    padding: 20px;
    box-shadow: 0px 1px 2px -1px blanchedalmond;
    margin-top: 5px;
    position: relative;

}

.section-one {
    height: calc(100vh - 80px);
}

.section-three {
    background: var(--color2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.welcome-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


img {
    width: 100%;
    height: 100%;
}

.welcome-profile p {
    margin: 20px 0;
}

.welcome-profile h2 {
    text-transform: uppercase;
    font-size: 2rem;

}

#portfolio-button {
    text-transform: uppercase;
    padding: 10px 20px;
    color: var(--color4);
    border-radius: 20px;
    border-style: solid;
    border-width: 0.5px;
    border-color: blanchedalmond;
    background-color: Transparent;

}

#portfolio-button:hover {
    border-style: solid;
    border-width: 0.5px;
    border-color: var(--color3);
    color: var(--color3);
    cursor: pointer;
}

#section-two-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

#about-me {
    text-transform: uppercase;
    margin-top: 20px;
    /* text-decoration: underline; */

}


hr {
    border-top: 3px solid var(--color3);
    margin: 1em 0;
    padding: 0;
    width: 15%;
}


hr:hover {
    border-top: 5px solid var(--color4)
}

#outer-circle {
    background: var(--color3);
    border-radius: 50%;
    border-style: solid;
    border-width: 10px;
    border-color: var(--color4);
    height: 150px;
    width: 150px;
    position: relative;
}

#outer-circle:hover {
    border-color: var(--color3);
    background: var(--color4);
}



#inner-circle {
    position: absolute;
    background: var(--color4);
    border-style: solid;
    border-width: 5px;
    border-color: var(--color3);
    border-radius: 50%;
    height: 115px;
    width: 115px;
    top: 7px;
    right: 7px;
}

#inner-circle:hover {
    border-color: var(--color4);
    background: var(--color3);
}

#inner-circle img {
    position: absolute;
    border-radius: 50%;
    height: 90px;
    width: 90px;
    top: 8px;
    right: 8px;
}

#section-two-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#detials-content-header ul {
    display: flex;
    background: var(--color1);
    width: 100%;
    justify-content: space-around;
    padding: 10px;
}

#detials-content-header li {
    padding: 5px;
    font-size: 0.95rem;
    background: var(--color1);
    border-style: solid;
    border-width: 1px;

}

#detials-content-header li:hover {
    background: var(--color3);
    color: var(--color1);
    cursor: pointer;
}

#details-content-body {
    font-family: 'Poppins', sans-serif;
    background: var(--color4);
    color: black;
    border-radius: 0 0 10px 10px;
    padding: 30px;

}

.section-three h3 {
    margin: 30px;

}

.section-three h1 {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;

}


.card-divs {
    display: flex;
    flex-wrap: wrap;
}


.cards {
    background: var(--color1);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.card-header {
    text-align: center;
    font-size: 1.2rem
}

.card-header img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: var(--color4);
    margin: 3px;
}

.card-hr {
    width: 100%
}

.section-four {
    padding: 50px 15px;
    align-items: center;
    justify-content: center;
}

.section-four h1 {
    margin: 20px 0;
    text-transform: uppercase;
    font-size: 2rem;

}

.section-four p {
    margin: 0 0 20px 0;

}

#portfolio-select {
    margin-bottom: 10px;
}

#portfolio-select ul {
    display: flex;
}

#portfolio-select ul li {
    padding: 3px;
    margin: 5px;
    background: var(--color3);
    font-size: 0.9rem;
    color: var(--color1)
}

#portfolio-select ul li:hover {
    background: var(--color4);
    cursor: pointer;

}

#porfolio-img {
    display: flex;
    flex-wrap: wrap;
}

#porfolio-img img {
    width: 100%;
    height: auto;
    margin: 10px;
    background: var(--color4);
}


/* Section five */
.section-five {
    display: flex;
    flex-direction: column;
    background: var(--color2);
    padding: 0 40px 20px 40px;
    box-shadow: 0px 1px 2px -1px blanchedalmond;
    position: relative;
}

#section-five-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact-hr {
    width: 90%;
    margin-bottom: 50px;
    margin-top: 0;

}

.section-five h1,
.section-five p {
    margin-bottom: 20px;
}


form input,
textarea {
    width: 100%;
    margin: 15px 0;
    padding: 15px 10px;
    border-radius: 5px;
    background: var(--color1);
    border-style: solid;
    border-color: var(--color3);
    border-width: 1px;
    color: var(--color4);
}

textarea {
    height: 150px;
}

#send-msg-btn,
#cal-btn,
.prev-btn,
.next-btn {
    margin: 15px;
    text-transform: uppercase;
    padding: 10px 20px;
    color: var(--color4);
    border-radius: 20px;
    border-style: solid;
    border-width: 0.5px;
    border-color: var(--color3);
    background-color: Transparent;
    cursor: pointer;
}

#send-msg-btn:hover,
#cal-btn:hover,
.prev-btn:hover,
.next-btn:hover {
    background: var(--color4);
    color: var(--color1);
    border-color: var(--color4);
}

/* .prev-btn:hover, */
.next-btn:hover {
    display: inline;
}

/* Section Six */

.section-six {
    display: flex;
    justify-content: center;
    align-items: center;

}

#section-six-content {
    width: 100%;
}

#section-six-header {
    width: 100%;
    border-style: solid;
    padding: 10px;
    border-color: var(--color3);
    border-width: 1px;
    margin-bottom: 20px;
    text-align-last: center;
    background: var(--color1);
}

.quote-section img {
    width: 30px;
    height: 30px
}

#quote-section-one h3 {
    margin: 40px 0;
}

#section-six-header h1,
#section-six-header p {
    margin: 10px 0
}

#section-six-header h1 {
    text-transform: uppercase;
}


.project-option,
.writing-option,
.graphics-option,
.wordpress-option {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background: var(--color1);
    margin: 10px;
    border-radius: 15px;
    /* justify-content: space-between; */
}

#quote-creative-writing-one h1,
#quote-creative-writing-one p {
    margin-bottom: 20px;
}

.project-option label,
.writing-option label,
.graphics-option label {
    margin-right: auto;
    padding: 20px 200px 20px 0px;
}

.project-option img,
.writing-option img,
.graphics-option img,
.wordpress-option img {
    margin-right: 20px;
}

.project-amount {
    width: 100%;
    margin: 10px;
    padding: 20px;
    background: var(--color1);
}

.project-amount p {
    text-align: center;
}

.project-amount input {
    width: 100%;
    align-items: center;
    padding: 20px;
    background: var(--color4);
    margin-top: 10px;
    border-radius: 5px;
    justify-content: space-between;
}

/* Result-Page */
#result-page {
    background: var(--color1);
    padding: 20px;
}

#result-page p {
    margin: 10px 0;
}

#result-page hr {
    width: 100%;
}

#result-page img {
    width: 200px;
    height: 200px;
    background: var(--color3);
    border-radius: 50%;
}

#result-head,
#result-body,
#result-footer {
    text-align: center;
}

#hearts {
    font-size: 1.5rem;
    color: red;
}


/* Wordpres Option */
.wordpress-option label {
    margin-right: auto;
    padding: 20px 150px 20px 0px;
}


/* Programing Section */
#programing-section {
    background: var(--color1);
    padding: 20px;
}

#programing-section h3,
#programing-section p {
    margin-bottom: 20px;
    text-align: center;
}

#programing-section hr {
    width: 100%;
}

#programing-section ul li {
    margin: 10px 0;
}


/* Hide Calculator Pages */

#quote-section-one {
    display: none;
}

#quote-creative-writing-one {
    display: none;
}

#quote-graphics {
    display: none;
}

#result-page {
    display: none;
}

#wordpress-design-section {
    display: none;
}



/* MEDIA QUERIES */

@media only screen and (min-width: 768px) {

    .section-one,
    .section-two {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .welcome-profile {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 5px;
    }

    #detials-content-header li {
        padding: 5px;
        font-size: 0.95rem;
    }

    img {
        width: 400px;
        height: 100%;
    }

    .container {
        margin: 0 15px;

    }

    #inner-circle {
        height: 250px;
        width: 250px;
        top: 15px;
        right: 15px;
    }

    #outer-circle {
        height: 300px;
        width: 300px;
    }


    #inner-circle img {
        height: 200px;
        width: 200px;
        top: 20px;
        right: 20px;
    }

    .cards {
        width: 47%;
    }

    #porfolio-img img {
        width: 47%;
    }

    .section-four {
        padding: 20px;

    }


    #portfolio-select ul li {
        padding: 10px;
        margin: 10px;

    }

    .section-five,
    #section-six-content {
        padding: 50px 100px;
    }

    .project-option label,
    .writing-option label,
    .graphics-option label,
    .wordpress-option label {
        padding: 20px 250px 20px 0px;
    }

}

@media only screen and (min-width: 1000px) {
    img {
        width: 500px;
        height: 100%;
    }

    .container {
        margin: 0 30px;

    }

    #detials-content-header li {
        padding: 10px;
    }

    .cards {
        width: 31%;
    }

    #porfolio-img img {
        width: 31%;
    }

    .section-five,
    #section-six-content {
        padding: 50px 150px;
    }


}

@media only screen and (min-width: 1140px) {
    .welcome-profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 30px;
    }


    img {
        width: 700px;
        height: 100%;
    }

    .container {
        margin: 0 50px;

    }

    .cards {
        width: 23%;
    }

    #porfolio-img img {
        width: 23%;
    }

    .section-five {
        padding: 50px 200px;
    }

    #section-six-content {
        padding: 50px 250px;
    }

    .project-option label,
    .writing-option label,
    .graphics-option label,
    .wordpress-option label {
        padding: 20px 400px 20px 0px;
    }
}